<%- include ('partials/header') %>
    <div class="container-fluid">
        <div class="product-title text-center mt-2 mb-2">
            <div>Incorrect Username or Password</div>
            <div> Please Try Again!</div>
            <div class="product-desc text-center mt-4 fw-600">
                <a class="btn btn-secondary" href="/login">Go To Login</a>
            </div>
        </div>
        <%- include ('partials/footer') %>